{% extends "main.html" %}
{% load static  %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/add_car.css' %}">
{% endblock %}

{% block content %}
<div class="form_add_car">
    <div class="wrapper">
        <form action="" method="POST" enctype="multipart/form-data" style="display:flex; flex-direction:column; gap:10px">
            {% csrf_token %}
            <table>
                {{ forms.as_table }}
            </table>
            <button class="save_button"> Отправить </button>
        </form>

    </div>
    wrapper
</div>
<div class="detail_info">
    <div class="wrapper">
        <div class="block_images">
            <div class="main_image">
                <img src="{{ car.image.url }}" alt="">
            </div>
            <div class="additional_images">
                {% for add_image in car.additionalcarimage_set.all %}
                <div class="additional_image">
                    <img src="{{add_image.image.url}}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="block_info">

        </div>
    </div>
</div>
{% endblock %}